<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "BasketMapper" >

	<insert id="addBasket" parameterType="Map" >
		INSERT INTO BASKET (
		   user_id
		  ,product_id
		  ,quantity
		) VALUES (
		   #{user_id}
		  ,#{product_id}
		  ,#{quantity}
		) 
	</insert>
	
	<select id="basket" parameterType="String" resultType="com.tmon.platform.api.dto.BasketDto">
		SELECT BASKET.user_id, BASKET.product_id, BASKET.quantity, PRODUCT.product_name, PRODUCT.price, PRODUCT.image_url
		FROM BASKET JOIN PRODUCT 
		USING (product_id) WHERE user_id=#{user_id}
	</select>
	
	<delete id="removeBasket" parameterType="Map">
		DELETE FROM BASKET 
		WHERE user_id = #{user_id} AND product_id = #{product_id}
	</delete>
	
	<delete id="cleanBasket" parameterType="String">
		DELETE FROM BASKET
		WHERE user_id = #{user_id}
	</delete>
	
	<update id="incQuantity" parameterType="Map">
		UPDATE BASKET SET quantity = quantity+1 
	  	WHERE user_id = #{user_id}
	    AND product_id = #{product_id};
	</update>

	<update id="decQuantity" parameterType="Map">
		UPDATE BASKET SET quantity = quantity-1 
	  	WHERE user_id = #{user_id}
	    AND product_id = #{product_id};
	</update>
</mapper>