<?xml version="1.0" encoding="UTF-8"?>
<!-- HolidayMapper.xml @author 구도원 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HolidayMapper">

	<select id="select" resultType="com.tmon.platform.api.dto.HolidayDto">
		SELECT
		holiday_id,
		CAST(holiday_lunar AS SIGNED) holiday_lunar,
		holiday_date,
		holiday_title
		FROM
		HOLIDAY;
	</select>

</mapper>