<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
	
	<select id="productAll" resultType="com.tmon.platform.api.dto.ProductDto">
		SELECT product_id, product_name, price, 
		image_url, max_quantity, sell_quantity, 
		PRODUCT.category_id, CATEGORY.category_name 
		FROM PRODUCT JOIN CATEGORY 
		USING (category_id)
	</select>
	
	<select id="productByProductId" resultType="com.tmon.platform.api.dto.ProductDto" parameterType="int">
		SELECT product_id, product_name, price, 
		image_url, max_quantity, sell_quantity, 
		PRODUCT.category_id, CATEGORY.category_name 
		FROM PRODUCT JOIN CATEGORY 
		USING (category_id) WHERE PRODUCT.product_id = #{product_id}
	</select>

	<select id="productByReservationId" resultType="com.tmon.platform.api.dto.ReservationProductDto" parameterType="int">
		 SELECT 
		 ORDER_INFORMATION.reservation_id, PRODUCT.product_id, 
		 PRODUCT.product_name, PRODUCT.image_url, ORDER_INFORMATION.quantity,
		 PRODUCT.price * ORDER_INFORMATION.quantity AS part_price
		 FROM PRODUCT JOIN ORDER_INFORMATION 
			ON PRODUCT.product_id = ORDER_INFORMATION.product_id AND ORDER_INFORMATION.reservation_id = #{reservation_id}
	</select>
	
	<select id="productByCategoryId" resultType="com.tmon.platform.api.dto.ProductDto" parameterType="int">
		SELECT product_id, product_name, price, 
	        	image_url,  max_quantity, sell_quantity,
	    		PRODUCT.category_id, CATEGORY.category_name 
		FROM PRODUCT JOIN CATEGORY 
	    USING (category_id)
	    WHERE PRODUCT.category_id=#{category_id}

	</select> 
	
	<delete id="deleteProduct" parameterType="int">
		DELETE FROM PRODUCT
		WHERE product_id=#{product_id}
	</delete>
	
	
</mapper>