<div class="container-fluid">
    <div class="row">
        <!-- 여기에 컨텐츠  -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2></h2>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="product-image">
                            <img ng-src="{{List.imageUrl}}" alt="{{List.productName}}" style="width: auto; height: 700px; padding: 50px 50px 50px 50px">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
                        <h3 class="prod_title"><b>{{List.productName}}</b></h3>
                        <p>
                        </p>
                        <br>
                        <div class="">
                            <h3>현재 남은 갯수</h3>
                            <p>
                                <h4>{{List.maxQuantity-List.sellQuantity}}</h4>
                            </p>
                        </div>
                        <br>
                        <div class="">
                            <h3>개당 가격</h3>
                            <p>
                                <h4>{{List.price | won}}</h4>
                            </p>
                        </div>
                        <br>
                        <div class="">
                            <h3>구매 수량 선택</h3>
                            <div class="input-group">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" ng-click='amountSub()'>
                                <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                </span>
                                <input type="number" class="form-control input-number" style="text-align: center" ng-model="amount" ng-change="validate()">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" ng-click='amountAdd()'>
                                <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="">
                            <div class="product_price">
                                <h2>총 구매가격</h2>
                                <h2 class="price">{{List.price * amount | won}}</h2>
                                <br>
                            </div>
                        </div>
                        <div class="">
                            <a ng-href="#!home"><button type="button" class="btn btn-default btn-lg">목록으로</button></a>
                            <button type="button" class="btn btn-default btn-lg" ng-click='submit()'>장바구니 담기</button>
                            <button type="button" class="btn btn-default btn-lg" ng-click='directBuy()'>바로 구매하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>